$h3color: rgb(199, 164, 51);
$h3coloroff: rgb(148, 121, 34);
$backgroundcolor: rgba(22, 22, 22, 0.637);
$otherbackground: rgb(29, 29, 29);
$linkcolor: rgb(200, 185, 134);;


body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(images/black-marble.jpg);
    color: white;
    text-shadow: 0px 0px 20px black;
    scrollbar-width: none;
    a{
        color: $linkcolor;
        text-decoration: solid;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundcolor;
    margin-bottom: 20px;
    color: $h3color;
    p {
        color: white;
    }
}

.container {
    margin-top: 20px;
    background-color: $backgroundcolor;
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-y: visible;
        h3{
            display: inline;
            color: $h3color;

        }
        .char{
            width: 250px;
            height: 500px;
            padding: 5px;
            .char-head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                img{
                    padding-top: 5px;
                    width: 75px;
                    height: 75px;
                }
            }
            p {
                img{
                    width: 12px;
                }
            }
        }
    }
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $backgroundcolor; 
    ul {
        font-size: 20px;
        margin: 0; 
        padding: 4px; 
        list-style-type: none; 
        li {
            display: inline;
            text-decoration: none; 
            padding: 4px 20px; 
            color: $h3color; 
            background-color: rgba(128, 128, 128, 0); 
        }
        li:hover {
            background-color: rgba(43, 43, 43, 0.637); 
        }
    }
}

.content {
    margin-top: 20px;
    padding-left: 20px;
    background-color: $backgroundcolor;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#data{
    margin-right: 100px;
    width: 30%;
    h2{
        color: $h3color;
    }
}
#inputcontent {
    display: flex;
    flex-direction: column;
    input{
        margin-bottom: 20px;
        height: 20px;
    }
    input:focus{
        outline: none;
        height: 20px;
    }
    button{
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100px;
        height: 30px;
    }
}
#info {
    max-width: 55%;
}
.hidden {
    display: none;
}
.scrollable {
    height: 270px;
    overflow-y: scroll;
}
#backtopbtn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $h3color;
    color: $otherbackground;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
}
#backtopbtn:hover{
    background-color: rgb(148, 121, 34);
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: rgb(22, 22, 22);
}
::-webkit-scrollbar-thumb{
    background: $h3color;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(148, 121, 34);
}
::-webkit-scrollbar-corner{
    background: $otherbackground;
}
.lore{
    padding-left: 20px;
    margin-top: 20px;
    background-color: $backgroundcolor;
    #navlore{
        padding-bottom: 10px;
        ul{
            font-size: 20px;
            margin: 0; 
            padding: 4px; 
            padding-left: 20px;
            list-style-type: decimal; 
            li{
                text-decoration: none; 
                padding: 4px 20px; 
                a{
                    color: white;
                }
            }
        }
    }
    h2{
        color: $h3color;
        padding-top: 20px;
    }
    h3{
        color: $h3coloroff;
        padding-top: 20px;
    }
    h4{
        padding-top: 20px;
    }
    h5{
        padding-top: 20px;
    }
    hr{
        color: $otherbackground;
    }
}
#map{
    img{
        max-width: 80%;
    }
}
#playbles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

    div{
        width: 400px;
        height: 700px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: scroll;
        margin: 10px;
    }
}
#nonplayables{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    div{
        width: 400px;
        height: 400px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: scroll;
        margin: 10px;
    }
}
#infoclasses{
    display: flex;
    flex-direction: column;
    #pickclass{
        ul{
            list-style: circle;
        }
    }
    #classroles{
        table{
            margin-top: 20px;
            border: solid $otherbackground;
            tr{
                th{
                    color: $h3coloroff;
                    padding: 5px;
                    border: solid $otherbackground;
                    text-align: center;
                }
                td{
                    padding: 5px;
                    border: solid $otherbackground;
                    text-align: center;
                }
            }
        }
    }
    #classcards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 600px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 10px;
            div{
                img{
                    padding: 5px;
                }
            }
            p{
                text-align: center;
            }
            img{
                align-self: center;
            }
        }
    }
}