body {
  font-family: 'Quicksand', sans-serif;
  background-image: url(images/black-marble.jpg);
  color: white;
  text-shadow: 0px 0px 20px black;
  scrollbar-width: none;
}

body a {
  color: #c8b986;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(22, 22, 22, 0.637);
  margin-bottom: 20px;
  color: #c7a433;
}

.header p {
  color: white;
}

.container {
  margin-top: 20px;
  background-color: rgba(22, 22, 22, 0.637);
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: visible;
}

.container .row h3 {
  display: inline;
  color: #c7a433;
}

.container .row .char {
  width: 250px;
  height: 500px;
  padding: 5px;
}

.container .row .char .char-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .row .char .char-head img {
  padding-top: 5px;
  width: 75px;
  height: 75px;
}

.container .row .char p img {
  width: 12px;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(22, 22, 22, 0.637);
}

#navbar ul {
  font-size: 20px;
  margin: 0;
  padding: 4px;
  list-style-type: none;
}

#navbar ul li {
  display: inline;
  text-decoration: none;
  padding: 4px 20px;
  color: #c7a433;
  background-color: rgba(128, 128, 128, 0);
}

#navbar ul li:hover {
  background-color: rgba(43, 43, 43, 0.637);
}

.content {
  margin-top: 20px;
  padding-left: 20px;
  background-color: rgba(22, 22, 22, 0.637);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#data {
  margin-right: 100px;
  width: 30%;
}

#data h2 {
  color: #c7a433;
}

#inputcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inputcontent input {
  margin-bottom: 20px;
  height: 20px;
}

#inputcontent input:focus {
  outline: none;
  height: 20px;
}

#inputcontent button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
}

#info {
  max-width: 55%;
}

.hidden {
  display: none;
}

.scrollable {
  height: 270px;
  overflow-y: scroll;
}

#backtopbtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #c7a433;
  color: #1d1d1d;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}

#backtopbtn:hover {
  background-color: #947922;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #c7a433;
}

::-webkit-scrollbar-thumb:hover {
  background: #947922;
}

::-webkit-scrollbar-corner {
  background: #1d1d1d;
}

.lore {
  padding-left: 20px;
  margin-top: 20px;
  background-color: rgba(22, 22, 22, 0.637);
}

.lore #navlore {
  padding-bottom: 10px;
}

.lore #navlore ul {
  font-size: 20px;
  margin: 0;
  padding: 4px;
  padding-left: 20px;
  list-style-type: decimal;
}

.lore #navlore ul li {
  text-decoration: none;
  padding: 4px 20px;
}

.lore #navlore ul li a {
  color: white;
}

.lore h2 {
  color: #c7a433;
  padding-top: 20px;
}

.lore h3 {
  color: #947922;
  padding-top: 20px;
}

.lore h4 {
  padding-top: 20px;
}

.lore h5 {
  padding-top: 20px;
}

.lore hr {
  color: #1d1d1d;
}

#map img {
  max-width: 80%;
}

#playbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

#playbles div {
  width: 400px;
  height: 700px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  margin: 10px;
}

#nonplayables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

#nonplayables div {
  width: 400px;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  margin: 10px;
}

#infoclasses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#infoclasses #pickclass ul {
  list-style: circle;
}

#infoclasses #classroles table {
  margin-top: 20px;
  border: solid #1d1d1d;
}

#infoclasses #classroles table tr th {
  color: #947922;
  padding: 5px;
  border: solid #1d1d1d;
  text-align: center;
}

#infoclasses #classroles table tr td {
  padding: 5px;
  border: solid #1d1d1d;
  text-align: center;
}

#infoclasses #classcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#infoclasses #classcards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

#infoclasses #classcards div div img {
  padding: 5px;
}

#infoclasses #classcards div p {
  text-align: center;
}

#infoclasses #classcards div img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=stylesheet.css.map */